body {
    font-family: Georgia, "Times New Roman";
    font-size: 1.17em;
    color: #333;
    background-color: #333;
    padding: 0;
    margin: 0;
}

.container {
    width: 990px;
    margin: auto;
    background-color: #ffffec;
    padding: 1em;
}

p {
    margin-bottom: 0;
}

code {
    font-family: Courier;
}

.file, pre {
    font-family: Courier;
    margin: 1em 26px 0 26px;
    background-color: #ddd;
    display: inline-block;
    min-width: 50%;
    box-sizing: border-box;
}

pre {
    padding: 1em;
}

.file pre {
    margin: 0;
    padding: 0;
}

.name {
    padding: .25em 1em 0 1em;
    font-weight: bold;
    border-bottom: 2px solid black;
    display: block;
}

.content {
    padding: 1em;
}

h3 {

}

.exercises {
    margin: 1em 26px 0 26px;
    padding: 1em 1em 0 0;
    background-color: #bbf;
    border-radius: 1em;
    display: inline-block;
    min-width: 40%;
}

.exercises::before {
    font-weight: bold;
    content: "Exercises";
    margin-left: 2.5em;
}

ol {
    padding-left: 2.5em;
}

.left_col {
    float:left;
    width:49%;
    margin: 0 1% 1em 0;
}

.right_col {
    float:right;
    width:49%;
    margin: 0 0 1em 1%;
}
