<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/099bf74387.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>Tim Saylor</title>
</head>
<body>
    <div class="content">
        <div class="card centered">
            <img class="avatar" src="/assets/tsaylor-avatar-400.jpg"/>
            <h1>Hi, I'm Tim</h1>
            <p>I write software, manage teams, and make many things.</p>
            <span class="social-links">
                <a href="https://github.com/tsaylor"><i class="fab fa-github-square"></i></a>
                <a href="https://twitter.com/tsaylor"><i class="fab fa-twitter-square"></i></a>
                <a href="https://linkedin.com/in/timsaylor"><i class="fab fa-linkedin"></i></a>
            </span>
        </div>
        {% for card in cards %}
            {{ card }}
        {% endfor %}
    </div>
</body>
</html>
