<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/099bf74387.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>Tim Saylor - {{title}}</title>
</head>
<body>
    <div class="content">
        <div class="card">
            <h3>{{title}}</h3>
            <p>{{postbody}}</p>
            <p>
                {% for link in links %}
                <a href="{{link.url}}">{{link.text}}</a>
                {% endfor %}
            </p>
            <p style="text-align: right;"><a href="/">Home</a></p>
        </div>
    </div>
</body>
</html>
